section{
    position: absolute;
    margin-top: 70px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
    height: 100hv;
    justify-content: center;
   

}

button{
    background-color: blueviolet;
}


.hidden{
    display: none;

}

.visible{
    display: block;
}

header{
    display: flex;
    justify-content: space-between;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
       text-align: center;
  }
